<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
    <title>homie</title>
</head>
<body style="background-color: blue;">
    <nav id="navbar-example2" class="navbar navbar-light px-3">
        <a class="navbar-brand" href="#" style="font-family: 'Titan One', cursive; font-size: 60px;">homie.</a>
     </nav>
     {% with messages = get_flashed_messages() %}
     {% if messages %}
       <div class="flashes row">
       {% for message in messages %}
         <div class="col-sm-6 mx-auto p-3 mb-3" style="background-color: yellow; border-radius: 5px; filter: drop-shadow(8px 8px 0px #444444);">{{ message }}</div>
       {% endfor %}
       </div>
     {% endif %}
   {% endwith %}
<div class="row">
    <div class="col-sm-6 mx-auto p-3" style="background-color: yellow; border-radius: 5px; filter: drop-shadow(8px 8px 0px #444444);">
        <form action="/" method="POST">
            <div class="form-group row">
                <label for="state" class="col-sm-4">State</label>
                <div class="col-sm-8">
                    <select id="state" name="state" class="form-control">
                        {% for abbrev, state in states.items() %}
                        <option value="{{ abbrev }}"  {% if abbrev == form_dict.get('state', None) %}selected{% endif %}>{{ state }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="zipcode" class="col-sm-4">Zipcode</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" name="zipcode" id="zipcode" value="98144"></input>
                </div>
            </div>
            <div class="form-group row">
                <label for="homeType" class="col-sm-4">Home Type</label>
                <div class="col-sm-8">
            <select id="homeType" name="homeType" class="form-control">
                {% for homeType in ["SINGLE_FAMILY", "CONDO", "TOWNHOUSE", "MULTI_FAMILY"] %}
                <option value="{{homeType}}" {% if homeType == form_dict.get('homeType', None) %}selected{% endif %}>{{homeType}}</option>
                {% endfor %}
            </select>
            </div>
            </div>
            <div class="form-group row">
                <label for="livingArea" class="col-sm-4">Living Area (sqft)</label>
                <div class="col-sm-8">
            <input type="text" name="livingArea" id="livingArea" class="form-control" value={{ form_dict.get('livingArea', 0) }}></input>
            </div>
            </div>
            <div class="form-group row">
            <label for="bedrooms" class="col-sm-4">Bedrooms</label>
            <div class="col-sm-8">
            <input type="range" id="bedrooms" name="bedrooms" class="form-control" min="0" max="20" value="{{ form_dict.get('bedrooms', 0) }}" oninput="this.nextElementSibling.value = this.value">
            <output>{{ form_dict.get('bedrooms', 0) }}</output>
            </div>
            </div>
            <div class="form-group row">
                
            <label for="bathrooms" class="col-sm-4">Bathrooms</label>
            <div class="col-sm-8">
            <input type="range" id="bathrooms" name="bathrooms" class="form-control" min="0" max="20" value="{{ form_dict.get('bathrooms', 0) }}" oninput="this.nextElementSibling.value = this.value">
            <output>{{ form_dict.get('bathrooms', 0) }}</output>
            </div>
            </div>
            <div class="form-group row">
                <label for="lotArea" class="col-sm-4">Lot Area (sqft)</label>
                <div class="col-sm-8">
                    <input type="text" name="lotArea" id="lotArea" class="form-control" value={{ form_dict.get('lotArea', 0) }}></input>
            </div>
            </div>
            <div class="form-group row">
            <input type="submit" class="col-sm-4 mx-auto btn" style="border-radius: 5px; filter: drop-shadow(8px 8px 0px #444444);""></submit>
            </div>
        </form>
    </div>
</div>
{% if prediction != None %}
<div class="form-group row">
    <div class="col-sm-6 mx-auto p-3 mt-5" style="background-color: yellow; border-radius: 5px; filter: drop-shadow(8px 8px 0px #444444);">
        <div style="font-family: 'Titan One', cursive; font-size: 50px;">
            Predicted Price: ${{prediction}}
        </div>
    </div>
</div>
{% endif %}
</body>
</html>